@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins&display=swap');

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  font-size: 18px;
  margin: 0;
  padding: 0;
  line-height: 2rem;
  /* letter-spacing: 1px; */
}

.top-header {
  background-image: url("./images/bg-hero-desktop.svg");
  background-color: hsl(193, 100%, 96%);
  margin-bottom: 140px;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.try-button {
  width: 150px;
  border-radius: 30px;
  height: 40px;
  border-color: transparent;
  background-color: white;
  font-weight: 700;
}

.logo-image {
  width: 150px;
  height: 20px;
}

.header-content {
  display: flex;
  /* height: 300px; */
  padding-top: 30px;
  padding-left: 10px;
  padding-bottom: 50px;
}

.header-image {
  width: 800px;
  height: 400px;
  object-fit: contain;
  margin-left: 50px;
}

.header-message {
  /* width: 440px; */
  margin-left: 20px;
  margin-top: 30px;
  
}

p,
a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  
}

h1,
h2, h3, button {
  font-family: "Poppins", sans-serif;

}

.start-button {
  background-color: hsl(322, 100%, 66%);
  border: none;
  border-radius: 30px;
  width: 250px;
  height: 50px;
  color: white;
  
  /* margin-top: 30px; */
}

.card {
  background-color: white;
  width: 80%;
  height: 400px;
  margin: auto;
  margin-top: 30px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.section-one,
.section-two,
.section-three {
  display: flex;
  justify-content: space-between;
}

.image-section {
  width: 49%;
  height: 300px;
  margin-top: 30px;
  object-fit: contain;
}

.text-section {
  width: 51%;
  margin-left: 60px;
  margin-right: 40px;
}

.text-section h2{
  margin-top: 120px;
}

.paragraph {
  color: black
}

.paragraph-card{
  color: hsl(228, 12%, 48%);
}


.before-footer {
  width: 65%;
  height: 250px;
  margin: auto;
  /* z-index: 9; */
  text-align: center;
  position: relative;
  margin-top: 100px;
  background-color: white;
  border: 1px solid white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  top: 100px;
  border-radius: 15px;
}

h3{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  padding-top: 10px;
}

footer {
  background-color: hsl(192, 100%, 9%);
}

.footer-button {
  margin-top: 4px;
  background-color: hsl(322, 100%, 66%);
  border: none;
  border-radius: 30px;
  width: 370px;
  height: 70px;
  color: white;
  font-size: 1.2rem;

}

.footer-section {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  padding-left: 50px;
}

.footer-logo{
  width: 100px;
  height: 18px;
  margin-top: 40px;
  filter: brightness(0) invert(1);
}

.footer-icon{
  padding-right: 20px;
  object-fit: contain;
}

.copyright-text{
  /* text-align: end; */
  color: hsl(208, 11%, 55%);
}

.descr-icon {
  display: flex;
  margin-top: 20px;
}

#descr-text{
  padding-top: 28px;
  color: hsl(208, 11%, 55%);
}

a{
  text-decoration: none;
  color: hsl(208, 11%, 55%);
}

.footer-section-one{
  width: 30vw;
}

.footer-section-two, .footer-section-three{
  display: grid;
  width: 20vw;
  /* margin-top: 125px; */
}

.footer-section-two :first-child,  .footer-section-three :first-child{
  margin-top: 125px;
}

.footer-section-four :first-child {
  margin-top: 115px;
}


.footer-section-four{
  width: 20vw;
  /* margin-top: 115px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon-footer i{
    font-size: 28px;
    margin: 10px;
    cursor: pointer;
    filter: brightness(0) invert(1);
}


@media screen and (max-width: 480px) {
  body{
    font-size: 15px;
  }
  .logo-image {
    width: 100px;
    height: 15px;
    margin-top: 20px;
    margin-left: 5px;
    object-fit: contain;
  }

  .try-button {
    width: 120px;
    border-radius: 20px;
    height: 32px;
    /* border-color: white; */
    background-color: white;
    margin-top: 18px;
    text-align: center;
  }

  .header-content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-message {
    text-align: center;
    width: 90vw;
  }
  
  .header-message p {
    width: 75vw;
  }

  .start-button {
    margin-top: 5px;
  }
  .header-image{
    width: 90vw;
    margin-left: 0px;
  }

  .top-header{
    margin-bottom: 90px;
  }

 
  .section-two{
    flex-direction: column;
    /* justify-content: center; */
  }

  .section-one, .section-three{
    flex-direction: column-reverse;

  }

  .card{
    height: 100%;
    width: 85vw;
  }

  .image-section{
    width: 80vw;
    height: 300px;
    margin-top: 2px;
  }

  .text-section {
    width: 80vw;
    margin-top: 1px;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    padding-top: 0;
    margin-top: 0px;
  }
 
.text-section h2{
  margin-top: 10px;
  margin-bottom: 10px;
}

  .before-footer {
    width: 90vw;
    height: 200px;
    margin: auto;
    /* z-index: 9; */
    text-align: center;
    position: relative;
    margin-top: 30px;
    background-color: white;
    border: 1px solid white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    top: 70px;
    border-radius: 15px;
  }
  footer{
    min-height: 100vh;
  }
  .before-footer h3{
    text-align: center;
    padding-top: 30px;
  }

  h3{
    font-size: 1.1rem;
  }
  .footer-button {
    margin-top: 1px;
    width: 250px;
    font-size: 1rem;
    height: 50px;
  }

  .footer-section{
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 15px;
  }

  .footer-logo{
    width: 50px;
    height: 10px;
  }



  .footer-section-one, .footer-section-two, .footer-section-three{
    width: 100vw;
    padding: none;
    margin: 2px;
  }

  .footer-section-four{
    margin-top: 20px;
    width: 100vw;
    text-align: center;
  }

  .descr-icon {
    /* display: flex; */
    margin-top: 0px;
  }
  
}
